chainlink-rinkeby/.chainlink-volume
chainlink-rinkeby/.data
chainlink-rinkeby/database
chainlink-rinkeby/.env
chainlink-rinkeby/database.env
chainlink-rinkeby/pg_admin.env
chainlink-rinkeby/healthdb.env
orbit_db/orbit_py_js/node_nodules
orbit_db/orbit_py_js/ipfs
orbit_db/orbit_py_js/orbitdb
orbit_db/orbit_py_js/package-lock.json
orbit_db/orbit_py_js/yarn.json
orbit_db/orbit_py_js/.eslintrc.js
orbit_db/orbit_py_js/.envrc.example 
orbit_db/env
health_sol/node_modules/
health_sol/.env
health_sol/yarn-error.log
health_sol/yarn.lock
